@import "./reset.scss";
@import "./button.scss";
@import "./colors.scss";

.page {
  padding-top: 60px;
}
.full {
  width: 100vw;
  min-width: 600px;
}
.head {
  position: fixed;
  /* animation: down 0.5s ease; */
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 1rem;
  color: white;
  background: #151515;
  font-weight: bold;
  display: flex;
  // justify-content: space-around;
  // align-items: center;
  transition: top 0.5s;
  z-index: 1200;
  // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
